:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --subtext-color: #595959;
    --border-color: #000000;
    --toggle-bg: #e0e0e0;
    --toggle-circle: #333333;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #ffffff;
    --toggle-bg: #555555;
    --toggle-circle: #ffffff;
}

html {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
html {
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header .brand-title {
    display: none;
}

header.blog-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 32px;
}
header.blog-header .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

header.blog-header .brand-title {
    order: 1;
}

header.blog-header .breadcrumb {
    order: 2;
    margin-right: auto; 
}

header.blog-header .theme-switch-wrapper {
    order: 3;
    margin-left: auto; 
    position: unset;
    padding-top: 0.5em;
    padding-right: 20px;
}

/* Breadcrumb list styling */
header.blog-header .breadcrumb {
    order: 1;
    padding-top: 0.5em;
    margin-right: auto;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header.blog-header .breadcrumb ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header.blog-header .breadcrumb ul li {
    position: relative;
    padding-right: 24px;
}


header.blog-header .breadcrumb ul li:not(:last-child)::after {
    content: ">>"; 
    position: absolute;
    right: 6px;
    color: var(--text-color, #666);
    margin-left: 8px;
}


header.blog-header .breadcrumb ul li a {
    margin-right: 8px; 
    text-decoration: none;
    color: var(--text-color);
}

header .brand-title a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding:0px;
    flex-grow: 1;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 0.5em;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.sidebar {
    display: flex;
    padding: 20px;
    background-color: #222;
    color: #fff;
    height: 200px;
    margin: 20px;
}

.article-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
}

.article-container .article {
    padding: 20px;
    
    border-bottom: 1px solid var(--border-color);
}

.article-container .article .article-title {
    font-size: 48px;
    letter-spacing: -0.25px;
    line-height: 48px;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.article-container .article .article-title a {
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    font-family: "Source Serif 4", "Times New Roman", serif;
    color: var(--text-color);
}

.article-container .article .article-subtitle {
    color: var(--subtext-color);
    font-size: 48px;
    letter-spacing: -0.25px;
    line-height: 48px;
    margin-block-start: 0;
    margin-block-end: 0.2em;
    font-weight: 200;
}

.article-container .article .article-content-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
}

.article-container .article .article-content-container .article-content {
    flex-basis: 80%;
}

.article-container .article .article-content-container .article-content p {
    font-family: "Source Serif 4", "Times New Roman", serif;
    font-size: 24px;
    line-height: 36px;
}

.article-container .article .article-content-container .social-section {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding-top: 1.4em;
}

.article-container .article .article-content-container .social-section .share-section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.article-container .article .article-content-container .social-section .tags-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.article-container .article .article-content-container .social-section .tags-section .tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.article-container .article .category {
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 0.7em;
    margin-right: 0.5em;
    ;
    border-left: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
}

.article-container .article .article-image-container {
    padding-top: 2em;
    padding-bottom: 0.5em;
    overflow-inline: auto;
    border-bottom: 0.5px solid var(--border-color);
}

.article-container .article .article-image-container img {
    object-fit: cover;
    width: 100%;
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height:3em;
}
footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

footer .footer-container .footer-content {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

@media screen and (min-width: 1500px) {
    header.blog-header .header-container{
        max-width: 1570px;
    }

    .main-container {
        max-width: 1570px;
    }

    footer .footer-container{
        max-width: 1570px;
    }
}

@media screen and (max-width: 450px) {
    .sidebar-container {
        display: none;
    }
    .article-container{
        width: 100%;
    }
    .article-container .article .article-content-container .social-section {
        display: none;
    }
    .article-container .article .article-content-container .article-content {
        flex-basis: 100%;
    }
}
